* {
  box-sizing: border-box;
}

h1, h2, h3 {
  font-family: 'Slabo 13px', serif;
}

header {
  text-align: center;
  padding: 6%;
  font-size: 1.0em;
}

body {
  text-align: center;
  font-family: 'Lato', sans-serif;
  background-color: #272a2a;
  color: #fff8dc;
  padding: 0;
}

ul {
  list-style: none;
}

li {
  margin-bottom: 15px;
}

a {
  color: #fff8dc;
  text-decoration: none;
  line-height: 1.5em;
}

a:hover {
  text-decoration-line: underline;
}

#date-button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #fff8dc;
  background-color: #272a2a;
  color: #fff8dc;
  padding: 2%;
  margin-top: 10px;
}

.hidden {
  display: none;
}

#results-section {
  text-align: left;
  line-height: 1.5em;
  margin-top: 30px;
  border-top: 1px solid #fff8dc;
}

#results-title {
  text-align: center;
  margin-bottom: 15px;
}

@media screen and (min-width: 1024px) {
  header {
    padding: 25px;
  }

  #date-button {
    padding: 1%;
  }
}